.icono_login {
	margin-bottom: 30px;
	font-size: x-large;
	color: #1779ba;
}

.icono_nombre, .icono_contraseña {
	padding-right: 0px !important;
	padding-top: 5px;
}

.texto_registro {
	padding-left: 4px !important;
}