.icono_login {
	margin-bottom: 30px;
	font-size: x-large;
	color: #2d6324;
}

.icono_usuario, .icono_contraseña, .icono_nombre, .titulo_registro {
	padding-right: 0px !important;
	padding-top: 5px;
	color: #2d6324;
}

.texto_registro {
	padding-left: 10px !important;
}

.titulo_registro {
	margin-bottom: 50px;
}

.recuerdame:hover {
	color: black;
	background-color: white;
}

.boton_registrar {
	margin-top: 50px;
}
.registrate h2 {
	font-family: 'Roboto Condensed', sans-serif;
}